/* filepath: g:\angular_assignment_table\virtual-scroll-table\src\app\shared\accordion\accordion.component.scss */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-inline-start: 40px;
}

.tablw-start {
    padding-inline-start: 40px;
    
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        overflow: hidden;
        position:sticky;
        
        th.mat-mdc-header-cell {
            background-color: #f8f9fa;
            color: #2c3e50;
            font-weight: 600;
            padding: 12px 16px;
            border-bottom: 2px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            
            &:last-child {
                border-right: none;
            }
        }
        
        td.mat-mdc-cell {
            padding: 12px 16px;
            border-bottom: 1px solid #dee2e6;
            border-right: 1px solid #dee2e6;
            
            &:last-child {
                border-right: none;
            }
        }
        
        tr.mat-mdc-row {
            &:last-child td {
                border-bottom: none;
            }
            
            &:hover {
                background-color: #f8f9fa;
            }
        }
    }
}

.table-title {
    font-size: 18px;
    font-weight: bold;
}

.event-currency {
    display: flex;
    align-items: end;
    gap: 8px;
}

mat-slide-toggle {
    font-size: 14px;
}

.slide-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-inline-end: 50px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title-padding {
    padding-inline-start: 40px;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.content {
    padding-inline-start: 40px;
}

