<div class="view-button">
  <button mat-raised-button color="primary">View</button>
</div>

<mat-tab-group 
  class="remove-border-bottom" 
  [(selectedIndex)]="selectedTabIndex"
  animationDuration="150ms"
  [disableRipple]="false"
  [preserveContent]="true"
  (selectedIndexChange)="onTabChange($event)"
  > 
  <mat-tab label="Questionaire">
    <h1>Mat tab works</h1>
  </mat-tab>
  <mat-tab label="Pricing Sheet">
    <div class="accordion-container">
      <app-accordion></app-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
