<mat-toolbar color="primary" class="header-toolbar">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/custom_logo.jpg" alt="Customer Logo" class="logo" />
      <span class="app-name">App Name</span>
    </div>

  
    <!-- Spacer to push content to the right -->
    <span class="spacer"></span>
  
    <!-- Help Icon -->
    <button mat-icon-button class="help-icon">
        <mat-icon>help</mat-icon>
    </button>
  
    <!-- User Dropdown -->
    <div class="user-dropdown">
      <span class="user-name">Shahanwaj</span>
      <button mat-icon-button class="dropdown-icon">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
</mat-toolbar>

<mat-toolbar color="primary" class="nested-toolbar">
    <span class="rxjs-text">SR Supplier 1, Response#</span>
    <span class="spacer"></span>
    <div class="btn-alignment">
    <button mat-stroked-button class="done-button">Done</button>
</div>
 </mat-toolbar>




