.header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #ffffff; /* Light background */
    color: #000000; /* Dark text */
    position: sticky;
    top: 0;
    z-index: 1000;
}
  
.logo-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Space between logo and app name */
}
  
.logo {
    height: 32px;
    width: auto;
    padding-inline-start:25px;
}

.logo-text {
    display: flex;
    flex-direction: column; /* Stack App Name and Rxjs */
    margin-top: 4px;
}
  
.app-name {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
  
.spacer {
    flex: 1;
}
  
.help-icon {
    color: #000000;
}
  
.user-dropdown {
    display: flex;
    align-items: center;
    gap: 4px; /* Space between username and dropdown icon */
}
  
.user-name {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
  
.dropdown-icon {
    color: #000000;
}

.rxjs-text {
    font-size: 14px;
    color: #666666;
    padding-inline-start:30px;
}
.nested-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #ffffff; /* Light background */ /* Dark text */
    z-index: 999;
    position: sticky;
    top: 64px; // Height of the main toolbar
    padding-bottom: 10px;
}
  
.done-button {
    background-color: #ff5722;
    color: white !important;
    font-weight: bold;
    font-size: 14px;

}
  
.done-button:hover {
    background-color: #e64a19;
}

.btn-alignment{
    padding-inline-end: 50px;
}